<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="script" href="/solarSystem.js">
  <link rel="stylesheet" href="/solarSystem.css">
  <title>A Solar System</title>
</head>
<body>

<div id="universe">
</div>  

</body>
</html>