<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/solarSystem.js"></script>
  <link rel="stylesheet" href="/solarSystem.css">
  <title>A Solar System</title>
</head>
<body>

<!-- svg id="vector_universe" viewBox="0 0 600 600" width="601" height="601">
</svg -->

<div id="universe">

</div>

<div id="controls">
  <button id="startstop">Start/Stop</button>
  <span id="state">Moving</span>
  <button id="cleartracks">Clear Tracks</button>
  <input type="range" min="1" max="100" value="50" class="slider" id="deltat">
  <span id="deltat-value"></span>
</div>

</body>
</html>
