<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/solarSystem.js"></script>
  <link rel="stylesheet" href="/solarSystem.css">
  <title>A Solar System</title>
</head>
<body>

<svg viewBox="-300 -300 300 300">
  <circle cx="50" cy="50" r="40" />
  <circle cx="150" cy="50" r="4" />
</svg>

<div id="universe">

</div>

<div id="controls">
  <button id="startstop">Start/Stop</button>
  <span id="state">Moving</span>
  <button id="cleartracks">Clear Tracks</button>
</div>

</body>
</html>