<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Objectives</title>
</head>
<body>

<a href="/objectives/new">Add New Objective</a>

<table>
    <tr><th>Actions</th><th>Question</th><th>Answer</th></tr>
<% for (let id in minkeyfuzz) { %>
<tr>
    <td>
    <form method="POST" action="/objectives/<%= id %>/delete">
        <input type="submit" value="Delete">
    </form>
    <form method="GET" action="/objectives/<%= id %>/update-form">
        <input type="submit" value="Go Update">
    </form>
    </td>
    <td><%= minkeyfuzz[id].question %></td>
    <td><%= minkeyfuzz[id].answer %></td>
</tr>
<% } %>
</table>
</body>
</html>