<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Learning Objective</title>
</head>
<body>

    <form action="/newobjective" method="POST">

        <label for="question">Question</label>
        <input id="question" name="question"/>

        <label for="answer">Answer</label>
        <input id="answer" name="answer"/>

        <input type="submit" name="submit" value="submit">

    </form>

</body>
</html>