<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Objective Detail Page</title>
</head>
<body>
<table>
    <tr><th>Question</th><th>Answer</th></tr>
<tr>
    <td><%= question %></td>
    <td><%= answer %></td>
</tr>
</table>
</body>
</html>