<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learning Objectives</title>
  </head>
  <body>
    <table>
      <tr>
        <th>Actions</th>
        <th>Question</th>
        <th>Answer</th>
      </tr>
      <% for ( let objective in listOfObjectives ) { %> <!-- this is how to include JS in your template -->
        <tr>
          <td><a href="/objectives/<%= objective %>/delete">X</a></td>
          <td><a href="/objectives/<%= objective %>"><%= listOfObjectives[objective].question %></a></td>
          <td><%= listOfObjectives[objective].answer %></td>
        </tr>
      <% } %>  
    </table>
  </body>
</html>
