<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Objective</title>
  </head>
  <body>
    <form method="POST" action="/objectives">
      <label for="question">Question</label>
      <input id="question" type="text" name="question" />
      <label for="answer">Answer</label>
      <input id="answer" type="text" name="answer" />
      <input type="submit" name="Add New Objective" />
    </form>
  </body>
</html>
