<header>
  <h1><a id="logo" href="/days">SPOTlight</a></h1>
  <h3>The Lighthouse Labs Curriculum Index</h3>
  <% if (email){ %>
    <%= email %>&nbsp;
    <form action="/logout" method="POST">
      <input type="hidden" value="<%= email %>" />
      <input type="submit" value="Logout" />
    </form>
  <% } else { %>
    <form action="/login" method="POST">
      <input type="email" name="email" placeholder="email"/>
      <input type="password" name="password" placeholder="password"/>
      <input type="submit" name="submit" value="Login"/>
    </form>
  <% } %>
  <nav>
    <a href="/browse">Browse</a>
  </nav>
</header>
