div#universe {
  width: 500px;
  height: 500px;
  background-color: black;
}

.planet {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

#Earth {
  background-color: blue;
  position: absolute;
}

#Sun {
  background-color: yellow;
  position: absolute;
}
