<html>
  <head>
    <title>Authentication Server</title>
  </head>
  <body>
<%- include('partials/navbar') %>

    <p>Welcome to the club. Here is all the super secret information.</p>

    <table border="1">
      <tr>
        <th>Username</th>
        <th>Password</th>
      </tr>
      <tr>
        <td><%= username %></td>
        <td><%= password %></td>
      </tr>
    </table>
  </body>
</html>
