<html>
  <head>
    <title>Authentication Server</title>
  </head>
  <body>
<%- include('partials/navbar') %>
    <form method="POST" action="/register">
      <label>REGISTER</label>
      <input type="text" name="username" />
      <input type="password" name="password" />
      <input type="submit" name="login" />
    </form>
  </body>
</html>
