td {
    width: 80px;
    height: 80px;
    border: 2px solid white;
}

html {
    background-color: black;
    color: white;
    font-size: 2em;
}


.O {
    background-color: blue;
}

.X {
    background-color: red;
}
