<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPOT</title>
</head>
<body>
    <a href="/login">Provide Feedback</a>
    <!-- or
    <a href="/days">Look at the Day Index</a> -->
</body>
</html>