<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>

    <!-- <% rowarray.map((row)=>{console.log(row);}); %> -->
    <% rowarray.forEach( (item)=>{     %>
<li><%= JSON.stringify(item) %></li>
    <% } ); %>
</body>
</html>