<!DOCTYPE html>
<html lang="en">
<head>
  <title>Objectives</title>
  <%- include('include/_head.ejs') %>
</head>
<body>
  <%- include('include/_header.ejs') %>
<table>
  <tr>
    <!-- <th>Actions</th> -->
    <!-- <th>id</th> -->
    <th>type</th>
    <th>question</th>
    <th>answer</th>
    <!-- <th>day_id</th> -->
    <!-- <th>sort</th> -->
  </tr>
  <% for(var i=0; i < objectives.length; i++) { %>
    <%- include('include/_objectiveRow.ejs',{i}) %>
  <% } %>
</table>

</body>
</html>
