<!DOCTYPE html>
<html lang="en">
<head>
  <title>New Objective</title>
  <%- include('include/_head.ejs') %>
</head>
<body>
  <%- include('include/_header.ejs') %>
  <form action="/new" method="POST">
  <label for="type">Type</label>
  <select id="type" name="type">
    <option value="learning">Learning</option>
    <option value="performance">Performance</option>
  </select>
  <label for="question">Question</label>
  <input id="question" name="question" type="text"></input>
  <label for="answer">Answer</label>
  <textarea id="answer" name="answer" rows="10" cols="80"></textarea>
  <label for="sort">Sort</label>
  <input id="sort" name="sort" type="text"></input>
  <label for="day_id">Day</label>
  <% if (typeof day_id !== 'undefined') { %>
    <input id="day_id" name="day_id" type="text" value="<%= day_id %>"></input>
  <% } else { %>
    <input id="day_id" name="day_id" type="text"></input>
  <% } %>
  <input type="submit" name="Save"></input>
</form>
</body>
</html>
