<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Objectives</title>
</head>
<body>
<form>
  <label for="description">Question</label>
  <input id="description" type="text"></input>
  <label for="answer">Answer</label>
  <input id="answer" type="text"></input>
  <input type="submit" name="Save"></input>
</form>
</body>
</html>
