<!DOCTYPE html>
<html lang="en">
<head>
  <title>Register for an Account</title>
  <%- include('include/_head.ejs') %>
</head>
<body>
  <%- include('include/_header.ejs') %>
  <form action="/register" method="POST">
  <label for="email">email</label>
  <input id="email" name="email" type="email"></input>
  <label for="password">password</label>
  <input id="password" name="password" type="password"></input>
  <input type="submit" name="Save"></input>
</form>
</body>
</html>
