* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav {
 /* min-width: 230px; */
}

#main {
  display: flex;
  min-height: calc(60vh);
}

#main > article {
  flex: 1;
  /* min-width: 440px; */
}

#main > nav,
#main > aside {
  flex: 0 0 20vw;
  width: 15%;
  background: beige;
}

#main > nav {
  order: -1;
}

header,
footer,
article,
nav,
aside {
  padding: 1em;
}

header,
footer {
  background: yellowgreen;
  height: 20vh;
}

/* p.another {
  background-color:red;
}

p {
  background-color: green !important; 
} */

/* units - percent is relative to its parent container (for all properties, including font-size) */
/* p {
  width: 50%;
} */

#main .first {
  /* font-size: 1rem; */
}

/* .second {
  font-size: 2em;
} */

#main {
  /* font-size: 2em; */
}

#main .second {
  /* font-size: 0.3em; */
}

@media only screen and (max-width: 992px) {
  body {
    /* background-color: blue; */
  }
}

@media only screen and (max-width: 850px) {
  /* these styles will be applied if the screen width is less than 500px */
  #main > aside {
    /* background-color: green; */
    /* display: none; */
  }
}
